body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}


.r2head {
	background-color: #ffffff;
	width: 100%;
	height: 160px;
}

.r2head img {
	margin: 10px;
}

.r2content {
	margin: 10px;
	text-align: justify;
   text-justify: inter-word;
}

ul#menu {
	border-bottom: 2px dashed olive; 
	list-style-type: none;
	padding: 10px;
}

ul#menu li { 
	display: inline;
}

ul#menu li a {
	padding: 10px; 
	border: 1px solid olive; 
	text-decoration: none;
	border-bottom: none;
}

.imgDemo {
	width: 50%;
}

