QMainWindow {
    background-color: #d0e4fc;
}

QFrame {
    background-color: #d0e4fc;
}

QTableView {
    gridline-color: #84b0d7;
    background-color: #fdf7db;
}

QToolBar {
    background-color: #d0e4fc;
    icon-size: 36px;
}

QTabBar {
    background-color: #d0e4fc;
}

QTabBar::tab {
    min-width: 120px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #a9d0ef, stop: 1 #84b0d7);
    margin-bottom: 8px;
    margin-right:1px;
    padding: 5px;
}

QTabBar::tab:bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
}

QTabBar::tab:top {
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
}

QTabBar::tab:selected {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #fbe689, stop: 1 #e0be55);
    margin-bottom:3px;
    padding-bottom: 10px;
    font-weight: bold;
}

QTabBar::tab:bottom:selected {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QTabBar::tab:top:selected {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

QTabWidget {
    background-color: #d0e4fc;
}

QHeaderView::section {
    background-color: #d0e4fc;
}

QTableView QTableCornerButton::section {
    background-color: #d0e4fc;
}

QDialog {
    background-color: #d0e4fc;
}

QTextEdit {
    background-color: #ffffff;
}

QPlainTextEdit {
    background-color: #fdf7db;
}
